<ion-content>
  <div class='holebody'>
    <div class='current-div'>
      <div class='title'>
        <h1 class='title-text'><b>WeatherPWA</b></h1>
        <h3 *ngIf='dados' class='cityName'>{{dados.name}}</h3>
      </div>
      <div *ngIf='dados' class='temp'>
        <h1 class='temp-text'>{{dados.main.temp}} °C</h1>
      </div>
    </div>
    <div class='previsao-dv'>
      <div class='previsao-text'>
        <h2>Próximos dias:</h2>
      </div>
      <div class='previsao-content'>
        <div class='row' *ngIf='nextDays'>
          <div *ngFor='let day of nextDays' class='col'>
            <ion-item class='nextDays'>
              <div>{{day}}</div>
            </ion-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
